Algoritmo "10NÚMEROS"
// Disciplina : Criação de Aplicações e Sistemas
// Professor  : Franklin Portela
// Descrição  : Estruturas de Repetição
// Autor(a)  : Waldemir Alves de Melo Netto
// Data atual : 29/10/2022

Var
// Seção de Declarações das variáveis
i,multi,num:inteiro

Inicio
// Seção de Comandos, procedimento, funções, operadores, etc...
multi<-1
para i de 1 ate 10 faca
escreval ("digite um número do tipo inteiro: ")
leia (num)
multi<-multi*num
i<-i+1
fimpara
escreval ("resultado da multiplicação: ", multi)

Fimalgoritmo
# Auto detect text files and perform LF normalization
* text=auto
